body {
    background-color: #323232; /* Hintergrundfarbe */
    color: white; /* Schriftfarbe */
    font-family: 'Comic Sans MS', cursive; /* Schriftart */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #content {
    margin-top: 0;
    position: relative; 
  }
  
table {
    border-collapse: collapse;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
}
td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 5px solid white;
    font-size: 24px;
    cursor: pointer;
}
td:hover{
    background-color: rgb(255,255,255,0.3);
}
td:first-child, td:nth-child(3) {
    border-left: 0;
    border-right: 0;
}
tr:first-child td, tr:nth-child(3) td {
    border-top: 0;
    border-bottom: 0;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    fill: none;
    stroke: #00BFFF;
    stroke-width: 5;
}

.cross-line {
    stroke: #FFA500;
    stroke-width: 10;
}